.container {
    display: flex;
    padding: 1rem;
}

.place {
    display: none;
    visibility: hidden;;
}

.title {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 1rem;
}

.subtitle {
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.actions {
    width: 100%;
}

.totalStay {
    align-items: center;
    display: flex;
    float: left;
}

.totalStayText {
    margin-left: .5rem;
    order: 3;
}

.price {
    font-size: 2rem;
    line-height: 1;
}

.currencySymbol {
    align-self: flex-start;
    font-weight: 600;
    margin-top: 1px;
}

.favourite {
    float: right;
    order: 2;
}

.reserve {
    clear: both;
    display: block;
    padding-top: 1rem;
    order: 3;
    width: 100%;
}

@media screen and (min-width: 38rem) {
    .container {
        background: #fff;
        border: 1px solid #eee;
        margin: -36px 4rem 0;
        padding: 1rem;
        position: relative;
        z-index: 2;
    }

    .place {
        display: flex;
        flex-direction: column;
        visibility: visible;
    }

    .actions {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        width: auto;
    }

    .totalStay,
    .favourite {
        float: none;
    }

    .totalStay {
        margin-right: 1rem;
        order: 1;
    }

    .currencySymbol {
        line-height: 1;
        margin-top: 6px;
    }

    .reserve {
        max-width: 170px;
        order: 2;
        padding-top: 0;
    }

    .favourite {
        margin-left: 1rem;
        order: 3;
    }
}

