.primary {
    background: #fdbb30;
    border: 0;
    border-radius: 1.25rem;
    display: block;
    font-size: .75rem;
    letter-spacing: 1px;
    padding: .75rem 1rem;
    text-transform: uppercase;
    width: 100%;
}

.outline {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 1.25rem;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: 1px;
    padding: .75rem 1rem;
    text-transform: uppercase;
}
