.container {
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 0 1rem;
}

.title {
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

@media screen and (min-width: 38rem) {
    .container {
        padding: 0 4rem;
    }

    .track {
        display: flex;
        width: 100%;
    }
}