.title {
    font-size: .75rem;
    letter-spacing: 1px;
    margin: 1rem 0 .5rem;
    text-transform: uppercase;
}

@media screen and (min-width: 38rem) {
    .highlight {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 1rem;
        width: 32.5%;
    }

    .highlight:first-of-type,
    .highlight:last-of-type {
        margin: 0;
    }
}