.container {
    height: auto;
    position: relative;
    width: 100%;
}

.container::before {
    content: '';
    display: block;
    height: 0;
    left: 0;
    padding-top: calc(100% / (4 / 3));
    position: absolute;
    top: 0;
    width: 100%;
}

.image {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}
