.container {
    background: coral;
    height: auto;
    margin: -7px auto 0;
    max-width: 1280px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.container::before {
    content: '';
    display: block;
    height: 0;
    padding-top: calc(100% / (4 / 3));
    width: 100%;
}

.leadImage {
    position: absolute;
    top: 0;
}

@media screen and (min-width: 38rem) {
    .container {
        background: #efefef;
        margin-top: -12px;
    }

    .container::before {
        padding-top: calc(100% / (16 / 9));
    }
}