.header {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    position: relative;
    z-index: 2;
}

.title {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 1.5rem;
    margin: 0;
    order: 2;
    text-align: center;
}

.subtitle {
    order: 1;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 38rem) {
    .header {
        margin-top: 3rem;
    }

    .title {
        font-size: 3rem;
    }
}
