.container {
    border-bottom: 1px solid #efefef;
    display: flex;
    padding: 6px 0;
}

.avatar {
    align-items: center;
    background: #0A0B09;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: .75rem;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.content {
    margin-left: .5rem;
}

.content span {
    display: block;
    font-size: .75rem;
}