.container {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    color: #0A0B09;
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0;
    text-transform: uppercase;
}

.logo a {
    color: inherit;
    text-decoration: none;
}

.nav a {
    color: #0A0B09;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:not(:last-of-type),
.tools li:not(:last-of-type) {
    margin-right: 1rem;
}

.tools {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tools a {
    color: #0A0B09;
    text-decoration: none;
}
