.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.content,
.aside {
    box-sizing: border-box;
    padding: 0 1rem;
}

@media screen and (min-width: 38rem) {
    .content {
        margin: 0 4rem;
        padding: 0;
    }

    .aside {
        margin: 0 4rem;
    }
}

@media screen and (min-width: 64rem) {
    .contentContainer {
        composes: container;
        display: flex;
        padding: 4rem 0;
        width: 100%;
    }

    .content {
        margin: 0 5% 0 10%;
        width: 45%;
    }

    .aside {
        margin: 0 10% 0 5%;
        width: 25%;
    }
}